# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos Virtuales
venv/
env/
.venv/
.env/

# Archivos de configuración de IDE/Editor
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.rej

# Archivos de Datos Generados por la Aplicación
*.csv
equipo_*.txt
perfil_*.txt
*.db

# Archivo de repositorio
link_repositorio.txt
